[defaults]
inventory = inventory/production/
collections_path = collections:~/.ansible/collections:/usr/share/ansible/collections
host_key_checking = False
timeout = 30
callbacks_enabled = internal.core.ncs_collector

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o PreferredAuthentications=publickey,password
control_path_dir = /tmp/.ansible-cp
retries = 2

[privilege_escalation]
become = True
become_method = sudo
