{% from 'macros/adv_settings.j2' import get_adv %}
{% set res = [] %}
{% set adv = item.get('config', {}).get('option_value', []) %}


{# ESXI-70-000058: Block Guest BPDU #}
{% set bpdu = get_adv('Net.BlockGuestBPDU', adv) | trim %}
{% if bpdu == '1' %}
     {% set _ = res.append({"id": "ESXI-70-000058", "status": "PASSED", "details": "Guest BPDU Blocked"}) %}
{% else %}
     {% set _ = res.append({"id": "ESXI-70-000058", "status": "FAILED", "details": "Guest BPDU Allowed: " ~ bpdu}) %}
{% endif %}

{{ res | to_json }}
