{% set res = [] %}

{% from 'macros/adv_settings.j2' import get_adv %}

{% set adv = item.get('config', {}).get('option_value', []) %}

{# ESXI-70-000004: Remote Logging #}
{% if get_adv('Syslog.global.logHost', adv) | trim | length > 0 %}
{% set _ = res.append({"id": "ESXI-70-000004", "status": "PASSED", "details": "Remote log host configured"}) %}
{% else %}
{% set _ = res.append({"id": "ESXI-70-000004", "status": "FAILED", "details": "No remote log host defined"}) %}
{% endif %}

{# ESXI-70-000086: SSL Syslog #}
{% if get_adv('Syslog.global.logCheckSSLCerts', adv) | string | lower == 'true' %}
{% set _ = res.append({"id": "ESXI-70-000086", "status": "PASSED", "details": "Syslog SSL Cert Check Enabled"}) %}
{% else %}
{% set _ = res.append({"id": "ESXI-70-000086", "status": "FAILED", "details": "Syslog SSL Cert Check Disabled"}) %}
{% endif %}

{{ res | to_json }}
